/*
 * Copyright (c) 2016 iWave Systems Technologies Pvt. Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
#include "r8a7745.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "iwg22m";
	compatible = "iw,iwg22m", "renesas,r8a7745";

	aliases {
		serial3 = &scif4;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0 0x40000000 0 0x20000000>;
	};
};

&extal_clk {
	clock-frequency = <20000000>;
};

&pfc {
	scif4_pins: serial3 {
			renesas,groups = "scif4_data_b";
			renesas,function = "scif4";
	};
};

&scif4 {
	pinctrl-0 = <&scif4_pins>;
	pinctrl-names = "default";

	status = "okay";
};
