/*
 * Copyright (C) 2018 Renesas Electronics Corporation
 * Copyright (c) 2015 iWave Systems Technologies Pvt. Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
#include "r8a7742.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "iwg21m";
	compatible = "iw,iwg21m", "renesas,r8a7742";

	aliases {
		serial2 = &scifa2;
		eth = &avb;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0 0x40000000 0 0x40000000>;
	};

	memory@200000000 {
		device_type = "memory";
		reg = <2 0x00000000 0 0x40000000>;
	};

	lbsc {
		#address-cells = <1>;
		#size-cells = <1>;
	};
};

&extal_clk {
	clock-frequency = <20000000>;
};

&pfc {
	scifa2_pins: serial2 {
		renesas,groups = "scifa2_data_c";
		renesas,function = "scifa2";
	};

	avb_pins: avb {
		renesas,groups = "avb_mdio", "avb_gmii", "avb_phy_int";
		renesas,function = "avb";
	};

	i2c0_pins: i2c0 {
		renesas,groups = "i2c0";
		renesas,function = "i2c0";
	};

	i2c1_pins: i2c1 {
		renesas,groups = "i2c1_c";
		renesas,function = "i2c1";
	};

	i2c2_pins: i2c2 {
		renesas,groups = "i2c2_b";
		renesas,function = "i2c2";
	};

	i2c3_pins: i2c3 {
		renesas,groups = "i2c3";
		renesas,function = "i2c3";
	};
};

&scifa2 {
	pinctrl-0 = <&scifa2_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&avb {
	pinctrl-0 = <&avb_pins>;
	pinctrl-names = "default";

	phy-handle = <&phy0>;
	renesas,no-ether-link;
	status = "okay";

	phy0: ethernet-phy@0 {
		reg = <3>;
		micrel,led-mode = <1>;
	};
};

&wdt0{
	status = "okay";
};

&i2c0 {
	pinctrl-0 = <&i2c0_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;

	rtc@68 {
		compatible = "bq32000";
		reg = <0x68>;
	};
};

&i2c1 {
	pinctrl-0 = <&i2c1_pins>;
	pinctrl-names = "default";

	status = "okay";
	clock-frequency = <400000>;
};

&i2c2	{
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-0 = <&i2c2_pins>;
	pinctrl-names = "default";

};

&i2c3 {
	pinctrl-0 = <&i2c3_pins>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <400000>;
};
